* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#container {
    width: 80%;
    margin: 15px auto;
    border-radius: 25px;
    background-color: #34454e;
    height: 95vh;
}

.main-title {
    text-align: center;
    font-size: 40px;
    padding: 60px 0;
    color: #fff;
}

.items-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-items {
    padding: 15px 30px;
}

.form-items label {
    font-size: 23px;
    color: #fff;
}

.form-items input, .form-items select {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: #70747A;
    font-size: 20px;
}

.main-button {
    display: block;
    width: 30%;
    padding: 20px 35px;
    border: 0;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
    background-color: #2cc76a;
}

.main-button:hover {
    transition-duration: 0.3s;
    background-color: #289f57;
}